<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.zedcredit_savings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".homeActivity" />
        <activity android:name=".cashboxActivity" />
        <activity android:name=".recordsActivity" />
        <activity android:name=".savingsActivity" />
        <activity android:name=".cashbox2Activity" />
        <activity android:name=".records2Activity" />
        <activity android:name=".navigationActivity" />
        <activity android:name=".registerActivity" />
        <activity android:name=".joinActivity" />
        <activity android:name=".creatingActivity"></activity>
    </application>

</manifest>